@import "settings", "fonts";
@import "foundation";

// Or selectively include components
@import
//   "foundation/components/accordion",
"foundation/components/alert-boxes",
"foundation/components/block-grid",
"foundation/components/breadcrumbs",
"foundation/components/button-groups",
"foundation/components/buttons",
//   "foundation/components/clearing",
"foundation/components/dropdown",
"foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
"foundation/components/forms",
"foundation/components/grid",
"foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
"foundation/components/labels",
"foundation/components/magellan",
"foundation/components/orbit",
"foundation/components/pagination",
"foundation/components/panels",
//   "foundation/components/pricing-tables",
"foundation/components/progress-bars",
"foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
"foundation/components/sub-nav",
//   "foundation/components/switch",
"foundation/components/tables",
"foundation/components/tabs",
"foundation/components/thumbs",
"foundation/components/tooltips",
"foundation/components/top-bar",
"foundation/components/type",
//   "foundation/components/offcanvas",
"foundation/components/visibility";


$blue: #164D81;
$orange: #fd9c27;
$cyan:  #00BFD0;
$gray:  #EDEDED;
$green: #00DD69;
$color-label: #A2A488;
$color-border: #EEF0E9;
$f-gray: #898989;

$blue-color         : #006297;
$blue-one           : #01537d;
$blue-secundary     : #1cc2d2;
$blue-three         : #016a96;
$blue-four          : #00A4B1;
$blue-five          : #1bbece;

$gray-text-home     : #999999;
$gray-color-panel   : #eef0e9;
$gray-color         : #a6a8a3;
$gray-social        : #cbcbcb;
$gray-text-events   : #9c9e9f;
$dark-gray          : #383D3F;

$orange             : #ff9d00;
$green              : #33cc66;

$alto-id1: 640px; // Vive la experiencia
$alto-id2: 400px; // Somos un equipo
$alto-id3: 450px; // Historia
$alto-id4: 600px; // Conferencias y Evnetos
$alto-id5: 550px; // Vivencias
$alto-id6: 500px; // Rama TV
$alto-id7: 480px; // IEEE
$alto-id8: 550px; // Unete
$alto-id9: 600px; // Prefooter
$alto-id10: 110px; // Footer

div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td{
	margin: 0px;
	padding: 0px;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0px;
	padding: 0px;
	border: 0px none;
	outline: 0px none;
	vertical-align: baseline;
	background: transparent none repeat scroll 0% 0%;
}
.wrapper {
	max-width: none;
	position: relative;
}
.row {
	margin: 0px !important;
	padding: 0px !important;
	max-width: 100% !important;
}
.row-logos {
	margin: 0px !important;
	padding: 0px !important;
	div {
		margin: 0px !important;
		padding: 10px !important;
	}
}

//###################### general ####################################
.btn-idioma {
	height: 35px;
	padding-bottom:2px;
	padding-right:10px;
}
.vertical-align-container{
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
	.vertical-align-content {
		display: table-cell;
		vertical-align: middle;
		width: 100%;
		max-width: 100%;
	}
}
.button {
	border-style: solid !important;
	border-width: 2px !important;
	border-radius: 1px !important;
	font-size: 0.75rem !important;
	padding: 5px 20px !important;
	background-color: rgba(255, 125, 0, 0.0) !important;
}
.blanco {
	border-color: #fff !important;
}
.blanco:hover {
	background-color: rgba(255,255,255, 0.5) !important;
	//opacity: 1.0;
	//filter: alpha(opacity=100); /* For IE8 and earlier */
}
.gris {
	border-color: rgba(137, 137, 137, 0.5) !important;
	color: $f-gray !important;
}
.gris:hover {
	border-color: rgba(137, 137, 137, 0.8) !important;
	background-color: rgba(255,255,255, 0.0) !important;
	color: $f-gray !important;
}
.cbackground {
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	margin-right: auto;
	margin-left: auto;
	background-position: center top;
	transition: all 0.3s ease 0s;
}
.vac {
	padding-top: 80px;
	padding-bottom: 80px;
}
.txt-blanco {
	h1, h2, h3, h4, h5, p, a {
		color: #fff !important;
	}
}
.txt-gris {
	h1, h2, h3, h4, h5, p, a {
		color: $f-gray !important;
	}
}

h3 {
	font-family: $oswald !important;
	font-weight:500 !important;
}
h4, p , li{
	font-family: $lato !important;
}
p {
	font-weight: 100 !important;
	font-size:1rem !important;
}
h4 {
	font-weight:300 !important;
	max-width: 500px !important;
	text-align:center !important;
	margin: 0 auto !important;
}
iframe {
	display: inline !important;
}

.image-circle {
	img {
		width:100%;
		-webkit-box-shadow: 0 0 0px #666;
		-moz-box-shadow: 0 0 0px #666;
		box-shadow: 0 0 0px #666;

		-webkit-filter: grayscale(0.6);
		-moz-filter:grayscale(0.6);
		-ms-filter:grayscale(0.6);
		-o-filter: grayscale(0.6);
	}
	img:hover {
		-webkit-filter: grayscale(0);
		-moz-filter:grayscale(0);
		-ms-filter:grayscale(0);
		-o-filter: grayscale(0);
	}
	p {
		font-weight: 600 !important;
		font-size: 2rem !importante;
		padding-top:10px;
		padding-bottom:30px;
	}
}

.row-social {
	position: absolute;
	bottom: 20px;
	margin: 0px;
	padding:0px;
	text-align: center;
	width: 100% !important;
	div {
		margin: 0px;
		padding: 0px;
	}
	.buttons a img{
		width: 45px;
		padding:0px 3px;
		opacity: 0.8;
		filter: alpha(opacity=80); /* For IE8 and earlier */
	}
	.buttons a img:hover{
		opacity: 1;
		filter: alpha(opacity=100); /* For IE8 and earlier */
	}
}

.row-lenguaje {
	position:absolute;
	top: 10px;
	right: 10px;
	a img {
		padding: 0px;
		width: 80px;
		opacity: 0.8;
		filter: alpha(opacity=80); /* For IE8 and earlier */
	}
	a img:hover {
		opacity: 1;
		filter: alpha(opacity=100); /* For IE8 and earlier */
	}
}

@media #{$small-up} {
	body {

		/*************
            Top-Bar
        **************/
        .contain-to-grid {
            background: rgba(255, 255, 255, 1) !important;
            box-shadow: 0 0 5px #888;
        }

        .top-bar{
            //box-shadow: 0 13px 12px -14px #232222;
        }

        nav {
            background: #fff;
            .title-area {
                .logo-1 {
                    padding: 5px 15px 0px 15px;
                    img {
                        height: 50px;
                    }
                }
                .logo-fixed {
                    display: none;
                }
            }
            height: auto !important;
            background: #fff !important;
            li {
                background: #fff !important;
                padding-top: 9px;
            }
            a,
            a:hover {
                color: #363636 !important;
                font-family: 'Oswald', sans-serif !important;
                font-weight: 400 !important;
                font-size: 1.0625rem !important;
                background: #fff !important;
            }
            .menu-icon {
                margin-top: -24px !important;
                a {
                    span {
                        color: #fff !important;
                    }
                    span::after {
                        box-shadow: 0px 0px 0px 1px #000, 0px 7px 0px 1px #000, 0px 14px 0px 1px #000 !important;
                    }
                }
            }
            .left {
                background: transparent !important;
                li {
                    padding-top: 0px;
                    background: transparent !important;
                    a {
                        background: transparent !important;
                    }
                }
                li:hover {
                    border-left: 2px solid $blue-secundary !important;
                    a {
                        padding-left: 13px;
                        color: $blue-secundary !important;
                    }
                }
            }
            .right {
                a {
                    padding: 0px 0px !important;
                    .fa-stack {
                        font-size: 0.9375rem;
                        .fa-circle {
                            color: $gray-social !important;
                        }
                        &:hover{
                            .fa-circle {
                                color:  #2CC2D1 !important;
                            }
                        }
                    }
                }
                li {
                    margin-left: 0px;
                }
                .li-3 {
                    margin-right: 10px;
                }
                img:hover {
                    opacity: 0.8;
                }
                .btn-one {
                    border: 2px solid $blue-one;
                    color: $blue-one !important;
                    font-size: 12.2px !important;
                    font-weight: 700 !important;
                    font-family: "Lato", sans-serif !important;
                    margin-top: 3px;
                    padding: 4px 8px 4px 8px !important;
                    background: white !important;
                    &:hover {
                        //opacity: 0.7;
                        border: 2px solid $blue-one;
                        background: $blue-one !important;
                        color: white !important;
                    }
                    img {
                        padding-bottom: 2px;
                        padding-right: 5px;
                    }
                }
                .social-facebook {
                    margin-left: 4px;
                }
            }
            .divider {
                height: 19px !important;
                margin-top: 22px !important;
                border-right: 1px solid $gray-social !important;
            }
            .active {
                border-left: 2px solid $blue-secundary !important;
                padding-left: 0px;
                a {
                    padding-left: 13px !important;
                    color: $blue-secundary !important;
                }
                &:hover {
                    a {
                        padding-left: 0;
                        color: $blue-secundary !important;
                    }
                }
            }
        }

        .top-bar.expanded {
            height: auto !important;
            width: 100%;
            left: 0px;
            top: 0px;
            z-index: 99;

            .divider {
                height: 0px !important;
                margin-top: 0px !important;
                padding-top: 0px !important;
            }
        }

        .top-bar,.title-area {
            height: 62px !important;
            background: #fff !important;
        }

        /**************

        ***************/
		#id1 {
			background-image: url(../img/Portada2.jpg);
			height: $alto-id1;
			width: 100%;
			background-attachment: scroll;
			.vac-id1 {
				height: 100% !important;
			}

			.img-rama {
				margin-top: auto;
				margin-bottom: auto;
				width: 120%;
			}
			.img-logo {
				margin-top: auto;
				margin-bottom: auto;
				width: 100%;
			}
			.insignia {
				margin:0px;
				padding:0px;
				position: absolute;
				bottom:2px;
				left:2px;
				img {
					width:50px;
				}
			}
		}
		//#################################### id2 - Somos un equipo #############################
		#id2 {
			background-color: #fff;
		}
		//#################################### id3 - HISTORIA #############################
		#id3 {
			background-image: url(../img/Historia.jpg);
		}
		//###################### ID4 - EVENTOS ###################################
		#id4 {
			background-color: #fff;
			.vac .small-11{
				padding-top:40px;
			}
		}
		//###################### ID5 - Vivencias ####################################

		#id5 {
			background-image: url(../img/Vivencias.jpg);
		}
		//###################### ID6 - RAMA TV ####################################
		#id6 {
			background-color: #fff;
		}

		//###################### ID7 - IEEE ####################################
		#id7 {
			background-image: url(../img/IEEE.jpg);
		}
		//###################### ID8 - UNETE ####################################
		#id8 {
			background-color: #fff;
			img {
				width: 150px;
			}
		}
		//###################### ID9 - PREFOOTER ####################################
		#id9 {
			background-image: url(../img/FooterPC.png);
			height: $alto-id9;
			width: 100%;
			background-position: center  bottom !important;
			h3 {
				font-size:1.2rem;
			}
			p {
				padding-top: 10px;
				font-size: 0.85rem;
				font-weight:300;
				text-align:justify;
			}
			.vac-id9 {
				height: $alto-id9 !important;
			}
			.recuadro {
				background: #fff;
				border-radius:5px;
				padding:10px;
				min-height: 380px;
			}
		}
		//###################### ID10 - UNETE ####################################
		#id10 {
			background-color: rgba(255,255,255,0) !important;
			height: $alto-id10;
			width: 100%;
			background-position: center  top !important;
			border-top:solid;
			border-width:2px;
			border-color:$gray;
			h5 {
				font-size:0.7rem !important;
				text-align:justify;
				span {
					font-weight: 600;
				}
			}
			.vac-id10 {
				border-radius:1rem;
				height: $alto-id10 !important;
			}

		}
	}
}


@media #{$medium-up} {
	body {

		/*************
            Top-Bar
        **************/
        .row-top-bar {
        	max-width: 58.125rem !important;
			margin-left: auto !important;
			margin-right: auto !important;
        }
        nav {
            height: 63px !important;
            .left {
                li {
                    padding-top: 9px;
                }
                li:hover {
                    border-top: 2px solid $blue-secundary !important;
                    border-left: 0px !important;
                    padding-top: 7px;
                }
            }
            .active {
                border-top: 2px solid $blue-secundary;
                border-left: 0px !important;
                padding-top: 7px !important;
                &:hover {
                    padding-top: 7px;
                }
            }
        }
 		/**************

        ***************/


		#id1 {
			.vac-id1 {
				height: 100% !important;
			}
			.insignia {
				bottom:10px;
				left:10px;
				img {
					width:130px;
				}
			}
			.row-social {
				text-align:center;
			}
			.img-logo {
				width: 80%;
			}
			.img-rama {
				width: 80%;
			}
		}
		//#################################### ID2 - Somos un equipo #############################
		#id2 {
		}
		//#################################### ID3 - HISTORIA #############################
		#id3 {
		}
		//###################### ID4 - EVENTOS ###################################
		#id4 {
			p {
				font-size: 0.9rem;
			}
			.vac{
				padding-top:30px;
			}
			.row .medium-4 {
				padding:40px;
			}
		}
		//###################### ID5 - Vivencias ####################################
		#id5 {
		}
		//###################### ID6 - RAMA TV ####################################
		#id6 {
		}
		//###################### ID7 - IEEE ####################################
		#id7 {
		}
		//###################### ID8 - UNETE ####################################
		#id8 {
		}
		//###################### ID9 - PREFOOTER ####################################
		#id9 {
			background-position: center  bottom !important;
			background-attachment: scroll !important;
			height: $alto-id9;
			#download-center img {
				margin-top: 30px;
				width: 50%;
			}
			#questions img {
				margin-top: 65px !important;
				width: 30%;
				margin-bottom: 0px;
			}
		}
		//###################### ID10 - UNETE ####################################
		#id10 {
		}

	}

}
@media #{$large-up} {
	body {
		#id1 {
			height: $alto-id1+80 !important;
			.row-social {
				text-align:center;
			}
			.img-logo {
				width: 70%;
			}
			.img-rama {
				width: 60%;
			}
		}

	}

}

//#################################################################################################
//#################################### Media Querys ###############################################
//#################################################################################################
@media (max-width: 300px) {
	#id1 {
		.insignia {
			display: none;
		}
	}
}
@media (max-width: 700px) {
	#id2 {
		p {
			font-size:0.85rem !important;
		}
	}
}

@media (max-width:500px) {
	#id9 {
		//visibility: hidden;
		//display:none;
	}
}

@media only screen and (min-width:500px) and (max-width: 650px) {
	#id1 {
		.img-logo {
			width:70% !important;
		}
	}
}
@media (max-width: 600px) {
	#id6 {
		iframe  {
			width:80% !important;
			height:250px !important;
		}
	}

}

/*****************
  MediaQuery-Nav
******************/
@media (max-width: 846px) {
    body {
        nav {
            .left {
                li {
                    padding-top: 0px !important;
                }
                li:hover {
                    border-left: 2px solid $blue-secundary !important;
                    border-top: 0px !important;
                    padding-top: 0px !important;
                    a {
                        color: $blue-secundary !important;
                    }
                }
            }
            .active {
                border-left: 2px solid $blue-secundary !important;
                border-top: 0px !important;
                a {
                    color: $blue-secundary !important;
                }
                &:hover {
                    padding-top: 0px !important;
                }
            }
        }
        .top-bar-section ul.right {
            padding: 7px 0px 14px 0px;
        }
        .li-1 {
            margin-left: 7px !important;
        }
    }
}

@media (min-width: 847px) {
    body {

        .contain-to-grid {

            transition-duration: 0.5s;
            -moz-transition-duration: 0.5s;
            -webkit-transition-duration: 0.5s;
            -o-transition-duration: 0.5s;
            .top-bar {
                transition-duration: 0.5s;
                -moz-transition-duration: 0.5s;
                -webkit-transition-duration: 0.5s;
                -o-transition-duration: 0.5s;
                .title-area {
                    transition-duration: 0.5s;
                    -moz-transition-duration: 0.5s;
                    -webkit-transition-duration: 0.5s;
                    -o-transition-duration: 0.5s;
                }
            }
            .li-1,.li-2,.li-3 {
                transition-duration: 0.5s;
                -moz-transition-duration: 0.5s;
                -webkit-transition-duration: 0.5s;
                -o-transition-duration: 0.5s;
            }

        }

        &.f-topbar-fixed {
            .contain-to-grid {
                box-shadow: 0 0 5px #888;
                transition-duration: 0.5s;
                -moz-transition-duration: 0.5s;
                -webkit-transition-duration: 0.5s;
                -o-transition-duration: 0.5s;
            }
            .top-bar {
                height: 45px !important;
                transition-duration: 0.5s;
                -moz-transition-duration: 0.5s;
                -webkit-transition-duration: 0.5s;
                -o-transition-duration: 0.5s;
                .title-area {
                    min-width: 247px;
                    height: 45px !important;
                    transition-duration: 0.5s;
                    -moz-transition-duration: 0.5s;
                    -webkit-transition-duration: 0.5s;
                    -o-transition-duration: 0.5s;
                    .logo-1 {
                        display: none !important;
                    }
                    .logo-fixed {
                        display: block !important;
                    }
                }
                li {
                    padding-top: 0px;
                }
                .divider {
                    margin-top: 13px !important;
                }
                .left {
                    li,li.active {
                        padding-top: 2px !important;
                        &:hover {
                            padding-top: 0px !important;
                        }
                        a {
                            line-height: 41px;
                        }
                    }
                    li.active {
                        padding-top: 0px !important;
                    }
                    li:hover {
                        transition-duration: 0s;
                        -moz-transition-duration: 0s;
                        -webkit-transition-duration: 0s;
                        -o-transition-duration: 0s;
                    }
                }
                .right {
                    .li-1 .btn-one {
                        margin-top: 2px !important;
                    }
                    .li-2,.li-3 {
                        margin-top: -2px;
                    }
                }
            }
        }
    }
}