@import "settings", "fonts";
@import "foundation";

$blue: #164D81;
$orange: #fd9c27;
$cyan:  #00BFD0;
$gray:  #EDEDED;
$green: #00DD69;
$color-label: #A2A488;
$color-border: #EEF0E9;
$f-gray: #898989;

.page-title {
	h1{
		padding-top: 30px;
		color:#fff;
		font-family: $champagne;
		text-shadow: 0px 0px 5px rgba(150, 150, 150, 1);
	}
}

.row-social-page {
	background-color: $gray;
	text-align: center;
	width: 100% !important;
	div {
		margin: 0px;
		padding-top:10px;
		padding-bottom:10px;
	}
	a {
		color: #fff !important;
	}
	a:hover {
		color: $gray !important;
	}
	.buy {
		a:hover{
			opacity: 0.8;
			filter: alpha(opacity=80); /* For IE8 and earlier */
		}
	}
	.fa-inverse {
		color: $gray !important;
	}
	.buttons a img{
		width: 40px;
	}
}

.bg-slider {
	height:550px !important;
	background-color: red;
	h3 {
		color:#000;
		font-size: 30px;
	}
}
.slick-prev,.slick-next {
	position: absolute !important;
	padding: 0px !important;
	margin: 0px !important;
	top: 45%;
	width: 49px;
	height: 61px !important;
	color: transparent !important;
	background: transparent !important;
	opacity: 0.7;
	&:hover {
		opacity: 1;
	}
}
.slick-next {
	right: 0px;
	padding-right: 0px !important;
	background: transparent url('../img/Botones/right.png') no-repeat center right !important;
}

.slick-prev {
	left: 0px;
	background: transparent url('../img/Botones/left.png') no-repeat center left !important;
}
.titulo-descarga {
	margin-bottom: 50px;
	h1, h2{
		font-family: $champagne;
		font-weight: 500;

	}
	h2 {
		margin-top: -20px;
		font-size: 1.7rem;
		font-family: $champagne;
		span{
			color:$f-gray;
		}
	}
}
.img-descarga {

	h1, h2, h3, h4, h5{
		font-family: $champagne !important;
	}
	h3{
		text-align:center;
		font-size:1.4rem;
		font-weight:500;
	}
	div {
		text-align:center;
	}
}
.img-medium {
	height:300px ;
}
.img-small {
	padding-top:10px;
	height:60px;
}


@media #{$small-up} {
	.page-title {
		h1 {
			font-size: 2.5rem;
			font-weight: 400;
		}

	}

}

@media #{$medium-up} {
	.header-page {
		height: 640px;
	}
	.page-title {
		h1 {
			font-size: 3rem;
			font-weight: 600;
		}
	}


}
@media #{$large-up} {
	.page-title {
		h1 {
			font-size: 3.5rem;
		}
	}

}




/////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////  VIVENCIAS  ////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////

.pods-vivencia {
	 background: #F9F8FB !important;
	 border: solid 1px #F0F0F0 !important;
	 padding: 0px;

	a h4 {
		color: $cyan;
		font-size: 1.1625rem !important;
		font-weight: 400 !important;
		font-family: $lato !important;
		text-align: left !important;
		padding: 5px 10px;
		margin-top: -15px !important;
	}
	a h4:hover {
		color: $blue;
	}
	img {
		margin:0px;
		padding:0px;
	}
	p {
		margin:0px;
		padding:0px;
	}
	h5 {
		font-family: $lato;
		text-align: justify;
		font-size: 0.875rem;
		color: #494949;
		font-weight: 300;
		margin-bottom: 5px !important;
		line-height: 17px;
		padding: 5px 10px;
		span {
			color: $f-gray;
			text-align:right;
			font-size:0.9rem;

		}
	}
}


.pods-imagen {
	.cont {
		margin :10px;
		background: #F9F8FB !important;
		border: solid 1px #F0F0F0 !important;
		height: 211px;
	}
	.mb {
		height: 445px !important;

	}

	 padding: 0px;
	 margin-top: 10px;
	a{
		font-size:0.8rem;
		text-align:right;
	}
	.img-cont {
		height: 180px;
		overflow:hidden;
		.row div {
			padding:0px !important;

		}
		img {
			margin:0px;
			padding:0px;
			height:100%;
		}
	}
	.img-cont-mb {
		overflow:hidden;
		.row div {
			padding:0px !important;
		}
		img {
			margin:0px;
			padding:0px;
		}
	}

	p {
		margin:0px;
		padding:0px;
	}
	h5 {
		font-family: $lato;
		text-align:left;
		color: #494949;
		font-weight: 300;
		line-height: 1;
		span {
			color: $f-gray;
			text-align:right;
			font-size:0.8rem;

		}
	}
}